/**
 * Adapted from:
 * http://www.puzzlr.org/d3-drag-minimal-working-example/
 * https://jsfiddle.net/shawnbot/BJLe6/
 * https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/
 */

.svg-container {
    display: block;
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100%;
    overflow: hidden;
    background-color: #eee;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.links line {
    stroke: #999;
    /* 2px looks good, but width is dynamically set by link weight */
    /* stroke-width: 2px; */ 
    stroke-opacity: 0.6;
}
   
.nodes circle {
    /* fill: rgb(128,128,128); */
    fill-opacity: 1.0;

    stroke: #fff;
    stroke-width: 2px;
    stroke-opacity: 0.6;   
}

