/**
 * Adapted from:
 * http://www.puzzlr.org/making-a-dragable-force-directed-graph/
 */

.links line {
    stroke: #999;
    /* 2px looks good, but width is dynamically set by link weight */
    /* stroke-width: 2px; */ 
    stroke-opacity: 0.6;
}
   
.nodes circle {
    /* fill: rgb(128,128,128); */
    fill-opacity: 1.0;

    stroke: #fff;
    stroke-width: 2px;
    stroke-opacity: 0.6;   
}

